*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #335576;
}
h1,
h2,
h3,
p,
a {
  color: #335576;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  padding: 0.625rem 3.75rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: #db7a4e;
  color: #ffffff;
  border: none;
  display: inline-block;
  padding: 0.625rem 2.5rem;
  margin-top: 0.625rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
}
.nav,
.nav_menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  margin-left: 0.625rem;
}
.nav__wordmark {
  color: #335576;
  font-weight: bold;
}
.nav__link--active {
  text-decoration: underline;
  text-decoration-color: #db7a4e;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fefaf5;
  padding: 1.25rem 15%;
  gap: 0.625rem;
}
.footer__subtitle {
  color: #db7a4e;
  font-size: 0.75rem;
}
.business-hours__schedule {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.business-hours__day-name {
  margin-top: 0;
}
.social__icons {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  gap: 1.875rem;
}
.icon-instagram,
.icon-tweeter {
  width: 2.125rem;
  height: 2.125rem;
}
.icon-facebook {
  width: 1.0625rem;
  height: 2.125rem;
}
